.header {
    background: white;
    text-align: center;
}

.header__inner {
    margin: 0 auto;
    padding: 18px 10px;
    max-width: 100%;
    border-bottom: 1px solid ;
}

.header__logo {
    color: #9a8465;
    font-family: 'Georgia', serif;
    text-decoration: none;
    font-size: 40px;
}

.contact-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.contact-form__heading {
    margin-bottom: 40px;
    text-align: center;
    color: #9a8465;
}

.confirm-table {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirm-table__inner {
    width: 70%;
    border-collapse: collapse;
    border: 1px solid 	#DCDCDC;
}


.confirm-table__header {
    color: white;
    background-color: #ad9f8a;
    text-align: left;
    padding: 15px 0px 15px 50px;
}


.confirm-table__text {
    padding-left: 40px;
    width: 70%;
    color: #6a554e;
    font-size: 17px;
}

.confirm-table__text  input {
    field-sizing: content;
    color: #6a554e;;
    padding: 0px;
    border: none;
    font-size: 17px;
}

.confirm-txt {
    color: #6a554e;;
    width: 30em;
    font-size: 17px;
    border: none;
    margin-top: 15px;
}


.form__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.form__button-submit {
    background: #6a554e;
    color: white;
    width: 100px;
    height: 38px;
    font-size: 17px;
    translate: -10%;
    border: none;
    margin-left: 10px;
}

.form__button-modify {
    color: #ad9f8a;
    background-color: white;
    font-size: 17px;
    text-decoration: underline;
    border: none;
    margin-left: 20px;
}